{% extends 'form/_form.html.twig' %}

{% block form_fields %}
  <div class="col-12">
    {{ form_label(form.paymentType) }}
    {{ form_widget(form.paymentType) }}
    {{ form_errors(form.paymentType) }}
  </div>
  <div class="col-12">
    {{ form_label(form.icon) }}
    {{ form_widget(form.icon) }}
    {{ form_errors(form.icon) }}
  </div>
{% endblock %}
