{% extends 'base.html.twig' %}

{% block title 'Liste des types de paiement' %}

{% block body %}
  <header class="d-flex justify-content-between align-items-end">
    <h1>Liste des types de paiement</h1>

    <div data-bs-toggle="tooltip" data-bs-title="Ajouter un type de paiement" class="h-100">
      <button data-url="{{ path('operation-payment-type_add') }}" class="btn btn-sm btn-success">
        <i class="fas fa-plus"></i>
      </button>
    </div>

  </header>

  <hr>

  <section>
    <a class="btn btn-sm btn-secondary mb-3" href="{{ path('operations_index') }}">
      <i class="fas fa-arrow-alt-circle-left"></i> Retour aux opérations
    </a>

    {% if paymentTypes is empty %}
      <h3 class="text-center">Aucun type de paiement</h3>
    {% else %}
      <div class="table-responsive">
        <table class="table bg-gradient text-center table-striped table-bordered">
          <thead class="bg-success bg-gradient text-white">
          <tr>
            <th>Type de paiement</th>
            <th>Icône</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {% for paymentType in paymentTypes %}
            <tr>
              <td>{{ paymentType.paymentType }}</td>
              <td>
                {% if paymentType.icon %}
                  <span class="badge bg-primary bg-gradient">{{ paymentType.icon | raw }}</span>
                {% endif %}
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <button data-url="{{ path('operation-payment-type_edit', { id: paymentType.id }) }}" class="btn btn-secondary btn-sm me-2">
                    <i class="fas fa-edit"></i>
                  </button>
                  <form onsubmit="return confirm('Es-tu certain(e) d\'effectuer cette action ?')" action="{{ path('operation-payment-type_delete', { id: paymentType.id }) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~paymentType.id) }}">
                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </section>
{% endblock %}
