<h1>{{ title }}</h1>

<div class="container">
  {{ form_start(form) }}
  <div class="row">
    {% block form_fields %}
    {% endblock %}
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <button type="submit" class="btn btn-success {{ submitMode is defined ? submitMode : '' }}">{{ submitButtonName ?? 'Valider' }}</button>
    </div>
  </div>
  {{ form_end(form) }}
</div>
