{% extends 'base.html.twig' %}

{% block title 'Modifier mon mot de passe' %}

{% block body %}
  <header>
    <h1>Modifier mon mot de passe</h1>
  </header>
  <hr>

  <section>
    {{ form_start(form) }}
      <div class="row">
        <div class="col-12">
          {{ form_label(form.password.first) }}
          {{ form_widget(form.password.first) }}
          {{ form_errors(form.password.first) }}
        </div>
        <div class="col-12">
          {{ form_label(form.password.second) }}
          {{ form_widget(form.password.second) }}
          {{ form_errors(form.password.second) }}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <button class="btn btn-success w-100" type="submit">Modifier</button>
        </div>
      </div>
    {{ form_end(form) }}
  </section>
{% endblock %}
