{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <div class="row justify-content-center h-100 align-items-center mt-4">
    <div class="col-12 col-md-4">
      <a href="{{ path('debts_index') }}" class="text-decoration-none">
        <div class="card text-bg-danger bg-gradient mb-3">
          <div class="card-header fs-1 text-center">DETTES</div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-4">
      <a class="text-decoration-none" href="{{ path('charge_index') }}">
        <div class="card text-bg-warning text-white bg-gradient mb-3">
          <div class="card-header fs-1 text-center">CHARGES</div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-4">
      <a class="text-decoration-none" href="{{ path('operations_index') }}">
        <div class="card text-bg-primary text-white bg-gradient mb-3">
          <div class="card-header fs-1 text-center">OPERATIONS</div>
        </div>
      </a>
    </div>
  </div>
{% endblock %}
