{% block body %}

  <h2>Calculer le nombre de mois restants</h2>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="input-group mb-3">
          <input data-remaining-amount="{{ debt.remainingAmount }}" class="form-control" id="input-compute-remaining-months" type="text">
          <button class="btn btn-outline-primary" type="button" id="submit-compute-remaining-month">Calculer</button>
        </div>
      </div>
    </div>

  </div>

  <div id="display-remaining-months"></div>
{% endblock %}

