{% extends 'base.html.twig' %}

{% block title 'Ajouter une dette' %}

{% block body %}
  <div class="container-fluid">
    <header>
      <h1>Ajouter une dette</h1>
    </header>
    <hr>

    <a class="btn btn-secondary mb-3" href="{{ path('debts_index') }}">
      <i class="fas fa-arrow-alt-circle-left"></i> Retour à la liste
    </a>

    <section>
      {{ form_start(form) }}
      <div class="row">
        <div class="col-12 col-md-6">
          {{ form_label(form.creditor) }}
          {{ form_widget(form.creditor) }}
          {{ form_errors(form.creditor) }}
        </div>
        <div class="col-12 col-md-6">
          {{ form_label(form.amount) }}
          {{ form_widget(form.amount) }}
          {{ form_errors(form.amount) }}
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <button class="btn btn-success w-100">Ajouter</button>
        </div>
      </div>
      {{ form_end(form) }}
    </section>
  </div>
{% endblock %}
