{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <header>
    <h1>Liste de mes dettes</h1>
  </header>
  <hr>

  <div class="d-flex justify-content-end">
    <a data-bs-toggle="tooltip" data-bs-title="Ajouter une dette" class="btn btn-sm btn-primary" href="{{ path('debts_add') }}">
      <i class="fas fa-plus"></i>
    </a>
  </div>

  <section class="mt-3">
    {% if debtsList is null %}
      <h1 class="text-center">Aucune dette</h1>
    {% else %}
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-dark w-100 text-center table-striped table-bordered">
              <thead>
              <tr>
                <th>Montant total</th>
                <th>Montant remboursé</th>
                <th>%</th>
                <th>Montant restant</th>
                <th>%</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><span class="badge bg-danger">{{ debtsList.totalAmount | number_format(2,',',' ') }} €</span></td>
                <td><span class="badge bg-success">{{ debtsList.alreadyPaid | number_format(2,',',' ') }} €</span></td>
                <td><span class="badge bg-success">{{ debtsList.alreadyPaidPercent }}%</span></td>
                <td><span class="badge bg-secondary">{{ debtsList.remainingAmount | number_format(2,',',' ')}} €</span></td>
                <td><span class="badge bg-secondary">{{ debtsList.remainingAmountPercent }}%</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        {% for debt in debtsList.debtsDTO %}
          <div class="col-12 col-md-3 d-flex mt-3">
            <a class="d-block w-100 text-decoration-none" href="{{ debt.url }}">
              <div class="card w-100 bg-primary bg-gradient">
                <div class="card-header">
                  <form onclick="return confirm('Êtes-vous sûr(e) de supprimer cette dette ?')" action="{{ debt.removeUrl }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~debt.id) }}">
                    <button type="submit" class="float-end border-0 rounded-1">
                      <i class="fas fa-times"></i>
                    </button>
                  </form>
{#                    <a class="float-end" href="https://google.fr">#}
{#                      <i class="fas fa-times"></i>#}
{#                    </a>#}
                </div>
                <div class="card-body">

                  <h5 class="card-title text-center text-white">{{ debt.creditor }}</h5>
                  <div class="d-flex justify-content-around">
                    <div>
                      <h6 class="text-white text-center">Montant</h6>
                      <p class="text-center"><span class="badge bg-dark">{{ debt.amount | number_format(2,',',' ') }} €</span></p>
                    </div>
                    <div>
                      <h6 class="text-white text-center">Restant</h6>
                      <p class="text-center"><span class="badge bg-warning">{{ debt.remainingAmount | number_format(2,',',' ') }}€</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </section>
{% endblock %}
