{% extends 'base.html.twig' %}

{% block title %}Créancier - {{ debt.creditor }}{% endblock %}

{% block body %}
  <div class="container-fluid">
    <header>
      <h1>Liste des paiements pour {{ debt.creditor }}</h1>
    </header>
    <hr>
    <div class="d-flex justify-content-between">
      <a class="btn btn-secondary mb-3 btn-sm" href="{{ path('debts_index') }}">
        <i class="fas fa-arrow-alt-circle-left"></i> Retour à la liste
      </a>

      <div class="d-flex">
        <div class="me-2">
          <button data-url-compute="{{ path('debts_compute-remaining-months', {id: debt.id}) }}" id="compute-remaining-month" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i> Mois restants</button>
        </div>
        <div data-bs-toggle="tooltip" data-bs-title="Ajouter un paiement" class="h-100">
          <button data-url="{{ path('payments_add', { id: debt.id }) }}" class="btn btn-success btn-sm">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>

    </div>
    <section>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-dark w-100 text-center table-striped table-bordered">
              <thead>
              <tr>
                <th>Montant total</th>
                <th>Montant remboursé</th>
                <th>%</th>
                <th>Montant restant</th>
                <th>%</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><span class="badge bg-danger">{{ debt.amount | number_format(2,',',' ') }} €</span></td>
                <td><span class="badge bg-success">{{ debt.alreadyPaid | number_format(2,',',' ') }} €</span></td>
                <td><span class="badge bg-success">{{ debt.alreadyPaidPercent }}%</span></td>
                <td><span class="badge bg-secondary">{{ debt.remainingAmount | number_format(2,',',' ')  }} €</span></td>
                <td><span class="badge bg-secondary">{{ debt.remainingAmountPercent }}%</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        {% if debt.payments is empty %}
          <h1 class="text-center">Aucun paiement pour le moment</h1>
        {% else %}
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered bg-gradient text-center">
                <thead class="bg-success bg-gradient text-white">
                <tr>
                  <th class="col-4">Montant</th>
                  <th class="col-4">Date</th>
                  <th class="col-4">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for payment in debt.payments %}
                  <tr>
                    <td>
                      <span class="badge bg-success bg-gradient">{{ payment.amount | number_format(2,',',' ') }} €</span>
                    </td>
                    <td>
                      <span class="badge bg-primary">{{ payment.createdAt | date('d/m/Y') }}</span>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center">
                        <button data-url="{{ path('payments_edit', { id: payment.id }) }}" class="btn btn-secondary btn-sm me-2">
                          <i class="fas fa-edit"></i>
                        </button>
                        <form onsubmit="return confirm('Es-tu certain(e) d\'effectuer cette action ?')" action="{{ path('payments_delete', { id: payment.id }) }}">
                          <input type="hidden" name="_method" value="DELETE">
                          <input type="hidden" name="_token" value="{{ csrf_token('delete'~payment.id) }}">
                          <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                        </form>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endif %}
      </div>
    </section>
  </div>
{% endblock %}
