{% extends 'base.html.twig' %}

{% block title %}Liste des opérations{% endblock %}

{% block body %}
  <header>
    <h1>Liste des opérations</h1>
  </header>
  <div>
    <a class="btn btn-sm btn-secondary" href="{{ path('home_index') }}">
      <i class="fas fa-arrow-alt-circle-left"></i> Retour à l'accueil
    </a>
  </div>
  <hr>

  <section>
    <div class="d-flex justify-content-center mb-3">
      <div class="me-3">
        <button data-url="{{ path('operation-file_index') }}" class="btn btn-dark btn-sm bg-gradient">
          <i class="fas fa-file-upload"></i> Upload
        </button>
      </div>
      <div class="me-3">
        <a href="{{ path('operation-categories_index') }}" class="btn btn-dark bg-gradient btn-sm">
          <i class="fas fa-list"></i> Catégories
        </a>
      </div>

      <div class="me-3">
        <a href="{{ path('operation-patterns_index') }}" class="btn btn-dark bg-gradient btn-sm">
          <i class="fas fa-list"></i> Patterns
        </a>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-secondary table-striped table-bordered text-center table-sm">
        <thead>
          <tr>
            <th>Crédit</th>
            <th>Débit</th>
            <th>Différence</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="badge bg-success">{{ operationInfo.totalCreditFormatted }} €</span>
            </td>

            <td>
              <span class="badge bg-warning">{{ operationInfo.totalDebitFormatted }} €</span>
            </td>

            <td>
              <span class="{{ operationInfo.differenceBadgeClass }}">{{ operationInfo.differenceFormatted }} €</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mb-3">
      <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#filtre" aria-expanded="false" aria-controls="filtre">
        <i class="fas fa-filter"></i> Filtre
      </button>
      <div class="collapse" id="filtre">
        {{ form_start(filterForm) }}
        <div class="row align-items-end">
          <div class="col-12 col-md-3">
            {{ form_label(filterForm.dateFrom) }}
            {{ form_widget(filterForm.dateFrom) }}
          </div>
          <div class="col-12 col-md-3">
            {{ form_label(filterForm.dateTo) }}
            {{ form_widget(filterForm.dateTo) }}
          </div>
          <div class="col-12 col-md-3">
            {{ form_label(filterForm.categories) }}
            {{ form_widget(filterForm.categories) }}
          </div>
          <div class="col-12 col-md-3">
            <button class="btn btn-primary bg-gradient w-100" type="submit">Filtrer</button>
          </div>
        </div>
        {{ form_end(filterForm) }}
      </div>
    </div>

    {% if operations is empty %}
      <h3 class="text-center">Aucune opération</h3>
    {% else %}
      <div class="d-sm-block d-md-none">
        {% for operation in operations %}
          <div class="card text-bg-dark mb-3 {{ 'operation-'~operation.id }}">
            <div class="card-header">{{ operation.date|date('d/m/Y') }}</div>

            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <span class="badge bg-info">{{ operation.paymentType }}</span>
                  <span
                      {% if operation.category %}
                        class="badge category"
                        style="background-color: {{ operation.category.color }}"
                      {% else %}
                        class="badge category bg-secondary fst-italic"
                      {% endif %}
                    >
                      {{ operation.category.name ?? 'Non catégorisé' }}
                    </span>
                  <p class="card-text">{{ operation.label }}</p>
                </div>
              </div>
            </div>

            <div class="card-footer d-flex justify-content-between">
              <div>
                <span class="badge bg-{{ operation.amount > 0 ? 'success' : 'danger' }}">{{ operation.amount > 0 ? '+'~operation.amount : operation.amount }} €</span>
              </div>

              <button data-url="{{ path('operations_edit', { id: operation.id }) }}" data-id="operation-{{ operation.id }}" class="btn btn-secondary btn-sm">
                <i class="fas fa-edit"></i>
              </button>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="table-responsive">
        <table class="d-none d-sm-table w-100 table table-dark bg-gradient table-hover table-striped table-bordered">
          <thead>
          <tr class="text-center">
            <th style="width: 10%;" class="text-center">Date</th>
            <th style="width: 70%;" class="text-center">Libellé</th>
            <th style="width: 10%;" class="text-center">Montant</th>
            <th style="width: 10%;" class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody class="align-middle">
          {% for operation in operations %}
            <tr class="{{ 'operation-'~operation.id }}">
              <td class="text-center">{{ operation.date|date('d/m/Y') }}</td>
              <td>
                <div>
                  <span class="badge bg-info">{{ operation.paymentType }}</span>
                  <span
                    {% if operation.category %}
                      class="badge category"
                      style="background-color: {{ operation.category.color }}"
                    {% else %}
                      class="badge category bg-secondary fst-italic"
                    {% endif %}
                  >
                    {{ operation.category.name ?? 'Non catégorisé' }}
                  </span>
                </div>
                {{ operation.label }}
              </td>
              <td class="text-center">
                <span class="badge bg-{{ operation.amount > 0 ? 'success' : 'danger' }}">{{ operation.amount }} €</span>
              </td>
              <td class="text-center">
                <div class="d-flex justify-content-center">
                  <button data-url="{{ path('operations_edit', { id: operation.id }) }}" data-id="operation-{{ operation.id }}" class="btn btn-secondary btn-sm me-2">
                    <i class="fas fa-edit"></i>
                  </button>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>
    {% endif %}
  </section>
{% endblock %}
