{% extends 'base.html.twig' %}

{% block title 'Liste des patterns' %}

{% block body %}
  <header class="d-flex justify-content-between align-items-end">
    <h1>Liste des patterns</h1>

    <div data-bs-toggle="tooltip" data-bs-title="Ajouter un pattern" class="h-100">
      <button data-url="{{ path('operation-patterns_add') }}" class="btn btn-sm btn-success">
        <i class="fas fa-plus"></i>
      </button>
    </div>

  </header>

  <hr>

  <section>
    <a class="btn btn-sm btn-secondary mb-3" href="{{ path('operations_index') }}">
      <i class="fas fa-arrow-alt-circle-left"></i> Retour aux opérations
    </a>

    {% if patterns is empty %}
      <h3 class="text-center">Aucun pattern</h3>
    {% else %}
      <div class="table-responsive">
        <table class="table bg-gradient text-center table-striped table-bordered">
          <thead class="bg-success bg-gradient text-white">
          <tr>
            <th>Pattern</th>
            <th>Catégorie</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {% for pattern in patterns %}
            <tr>
              <td>{{ pattern.pattern }}</td>
              <td>
                <span {% if pattern.category %} class="badge text-white" style="background-color: {{ pattern.category.color }};" {% endif %}>{{ pattern.category.name ?? '' }}</span>
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <button data-url="{{ path('operation-patterns_edit', { id: pattern.id }) }}" data-id="category-{{ pattern.id }}" class="btn btn-secondary btn-sm me-2">
                    <i class="fas fa-edit"></i>
                  </button>
                  <form onsubmit="return confirm('Es-tu certain(e) d\'effectuer cette action ?')" action="{{ path('operation-patterns_delete', { id: pattern.id }) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~pattern.id) }}">
                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </section>
{% endblock %}
