<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home_index') }}"><i class="fas fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      {% if app.user %}
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('debts_index') }}">Dettes</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ path('charge_index') }}">Charges</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('operations_index') }}">Operations</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('user_update', { id: app.user.id }) }}">Mon compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
