<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="/dette.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('_navbar.html.twig') }}
        <main class="container-fluid">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="toast-notification d-none"  data-type="{{ type }}" data-message="{{ message }}"></div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
