{% extends 'form/_form.html.twig' %}

{% block form_fields %}
  <div class="col-12">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, { attr: {'autocomplete': 'off'} }) }}
    {{ form_errors(form.name) }}
  </div>

  <div class="col-12">
    {{ form_label(form.color) }}
    {{ form_widget(form.color) }}
    {{ form_errors(form.color) }}
  </div>
{% endblock %}
