{% extends 'base.html.twig' %}

{% block title 'Liste des catégories' %}

{% block body %}
  <header class="d-flex justify-content-between align-items-end">
    <h1>Liste des catégories</h1>

    <div data-bs-toggle="tooltip" data-bs-title="Ajouter une catégorie" class="h-100">
      <button data-url="{{ path('operation-categories_add') }}" data-bs-toggle="modal" class="btn btn-sm btn-success">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </header>

  <hr>

  <section>
    <a class="btn btn-sm btn-secondary mb-3" href="{{ path('operations_index') }}">
      <i class="fas fa-arrow-alt-circle-left"></i> Retour aux opérations
    </a>

    {% if categories is empty %}
      <h3 class="text-center">Aucune catégorie</h3>
    {% else %}
      <div class="table-responsive">
        <table class="table bg-gradient text-center table-striped table-bordered">
          <thead class="bg-success bg-gradient text-white">
            <tr>
              <th>Catégorie</th>
              <th>Couleur</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
              {% if category.name != 'Non catégorisé' %}
                <tr>
                  <td>{{ category.name }}</td>
                  <td>
                    <div class="mx-auto rounded" style="background-color: {{ category.color }}; width: 40px; height: 20px;"></div>
                  </td>
                  <td>
                    <div class="d-flex justify-content-center">
                      <button data-url="{{ path('operation-categories_edit', { id: category.id }) }}" data-id="category-{{ category.id }}" class="btn btn-secondary btn-sm me-2">
                        <i class="fas fa-edit"></i>
                      </button>
                      <form onsubmit="return confirm('Es-tu certain(e) d\'effectuer cette action ?')" action="{{ path('operation-categories_delete', { id: category.id }) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~category.id) }}">
                        <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                      </form>
                    </div>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </section>
{% endblock %}
