<h1>{{ title }}</h1>

<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <form onclick="return confirm('Êtes-vous sûr de réaliser cette action ?')" action="{{ path('operations_delete_all_operations') }}" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="_token" value="{{ csrf_token('delete_all_operations') }}">
      <button class="btn btn-danger btn-sm" type="submit">
        <i class="fas fa-exclamation-circle"></i> Vider les opérations
      </button>
    </form>
  </div>
  {{ form_start(form) }}
    <div class="input-group mt-5">
      {{ form_widget(form.file) }}
      <button class="btn btn-success" type="submit">Upload</button>
    </div>
  {{ form_end(form) }}
</div>
