{% extends 'form/_form.html.twig' %}

{% block form_fields %}
  <div class="col-12">
    {{ form_label(form.amount) }}
    {{ form_widget(form.amount) }}
    {{ form_errors(form.amount) }}
  </div>

  <div class="col-12">
    {{ form_label(form.createdAt) }}
    {{ form_widget(form.createdAt) }}
    {{ form_errors(form.createdAt) }}
  </div>
{% endblock %}
