{% extends 'form/_form.html.twig' %}

{% block form_fields %}
  <div class="col-12">
    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_errors(form.title) }}
  </div>

  <div class="col-12">
    {{ form_label(form.amount) }}
    {{ form_widget(form.amount) }}
    {{ form_errors(form.amount) }}
  </div>

  <div class="col-12">
    {{ form_label(form.directDebitDay) }}
    {{ form_widget(form.directDebitDay) }}
    {{ form_errors(form.directDebitDay) }}
  </div>
{% endblock %}
