{% extends 'base.html.twig' %}

{% block title %}Liste des charges{% endblock %}

{% block body %}
  <header>
    <h1>Liste des charges</h1>
  </header>

  <hr>

  <div class="d-flex justify-content-between">
    <a class="btn btn-sm btn-secondary mb-3" href="{{ path('home_index') }}">
      <i class="fas fa-arrow-alt-circle-left"></i> Retour à l'accueil
    </a>

    <div data-bs-toggle="tooltip" data-bs-title="Ajouter une charge" class="h-100">
      <button class="btn btn-sm btn-success" data-url="{{ path('charge_add') }}">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>

  <section>
    <button data-url="{{ path('user_update_salary', { id: app.user.id }) }}" class="btn btn-primary btn-sm mb-2">
        <i class="fas fa-plus"></i> Modifier mon salaire
    </button>
    {% if chargesInfo is not null %}
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-dark w-100 text-center table-striped table-bordered">
              <thead>
              <tr>
                <th>Total</th>
                <th>Salaire</th>
                <th>Reste</th>
                <th>Par jour</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><span class="badge bg-danger">{{ chargesInfo.totalAmount | number_format(2,',',' ') }} €</span></td>
                <td><span class="badge bg-success">{{ chargesInfo.salary | number_format(2,',',' ') }} €</span></td>
                <td><span class="badge bg-success">{{ chargesInfo.remainingSalary | number_format(2,',',' ') }} €</span></td>
                <td><span class="badge bg-secondary">{{ chargesInfo.perDay | number_format(2,',',' ')  }} €</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="alert alert-warning">
            Montant des prélèvements restants ce mois-ci :  {{ chargesInfo.remainingToBePaidThisMonth | number_format(2,',',' ') }}€
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row mt-2">

      {% if charges is empty %}
        <h1 class="text-center">Aucune charge pour le moment</h1>
      {% else %}
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-striped table-bordered bg-gradient text-center">
              <thead class="bg-success bg-gradient text-white">
              <tr>
                <th class="col-4">Titre</th>
                <th class="col-4">Montant</th>
                <th class="col-4">Jour du mois du prélèvement</th>
                <th class="col-4">Actions</th>
              </tr>
              </thead>
              <tbody>
              {% for charge in charges %}
                <tr>
                  <td>
                    <span class="badge bg-dark bg-gradient">{{ charge.title }}</span>
                  </td>
                  <td>
                    <span class="badge bg-primary bg-gradient">{{ charge.amount | number_format(2,',',' ') }} €</span>
                  </td>
                  <td>
                    {{ charge.directDebitDay ?? '<em>NA</em>' }}
                  </td>
                  <td>
                    <div class="d-flex justify-content-center">
                      <button data-url="{{ path('charge_edit', { id: charge.id }) }}" data-id="charge-{{ charge.id }}" class="btn btn-secondary btn-sm me-2">
                        <i class="fas fa-edit"></i>
                      </button>
                      <form onsubmit="return confirm('Es-tu certain(e) d\'effectuer cette action ?')" action="{{ path('charge_delete', { id: charge.id }) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~charge.id) }}">
                        <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                      </form>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}
