{% extends 'form/_form.html.twig' %}

{% block form_fields %}
  <div class="col-12">
    {{ form_label(form.salary) }}
    {{ form_widget(form.salary) }}
    {{ form_errors(form.salary) }}
  </div>
{% endblock %}
